/* Common styles for both desktop and mobile */
#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: white;
}

body {
    background: linear-gradient(to right, rgb(0, 103, 129), rgb(0, 225, 255));
}

canvas {
    height: 500px;
    width: 500px;
}

.window {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 1200px;
}

.sliderContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.settingsHdr {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0.4rem;
}

.slider {
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 0.5rem;
    height: 30px;
}

#slider {
    background-color: white;
    border-radius: 4px;
}

.settings {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: white;
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #999999;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #3d3d3d;
}

.button:active {
    background-color: #3d3d3d;
}

.button:focus {
    outline: none;
}

.coordContainer {
    display: flex;
    justify-content: space-around;
}

.coord {
    margin-top: 0.3rem;
    height: 1rem;
    width: 3rem;
}

.counter {
    margin: 0.4rem 0 0.4rem 0;
}

/* Styles specific to mobile */
@media (max-width: 1000px) {
    .window {
        flex-direction: column;
        gap: 2rem;
        width: 90%;
    }

    canvas {
        height: 500px;
        width: 500px;
    }

    .settings {
        width: 90%;
    }
}

